/* SECTION WRAPPER (CENTER + GAP)*/
.filter-section {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 60px 0; /* top & bottom gap */
}

/* MAIN PILL CONTAINER */
.filter-tabs {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 8px 48px;
  height: 48px;

  background-color: #f0942a; /* Orange */
  border-radius: 125px;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

/* TAB BUTTON */
.filter-tab {
  border: none;
  background: transparent;
  cursor: pointer;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;

  color: #ffffff;
  padding: 6px 40px;
  border-radius: 125px;

  transition: all 0.3s ease;
}

/*ACTIVE TAB */
.filter-tab.active {
  background-color: #ffffff;
  color: #f0942a;

  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
}

/* HOVER EFFECT */
.filter-tab:hover {
  opacity: 0.9;
}

/* RESPONSIVE*/
@media (max-width: 768px) {
  .filter-tabs {
    padding: 6px 24px;
    gap: 6px;
  }

  .filter-tab {
    padding: 6px 20px;
    font-size: 16px;
  }
}
