/* MAIN SECTION  */
.life-section {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  padding: 80px 60px;
  background-color: #ffffff;


}

/*  LEFT GRID  */
.life-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/*  CARD  */
.life-card {
  border: 2px solid #4b61d1;
  border-radius: 180px 180px 20px 20px;
  padding: 20px;
  text-align: center;
   width: 330px;
  height: 379px;
}

.Up{
  animation: Up 8s ease-out forwards;
}
  

@keyframes Up {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.Down{
  animation: Down 8s ease-out forwards;
}

@keyframes Down {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.one{
  border: 2px solid #4b61d1;
  border-radius: 20px 20px 180px 180px;
  padding: 20px;
  text-align: center;
}
.life-img {
  width: 100%;
  height: 160px;
  border-radius: 160px 160px 20px 20px;
  overflow: hidden;
  margin-bottom: 16px;
}


.life-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.two{
  border-radius: 20px 20px 20px 20px
}
.life-card h4 {
  color: #f57c00;
  font-size: 14px;
  margin-bottom: 8px;
}

.life-card p {
  font-size: 13px;
  color: #555;
  line-height: 1.6;
}

/* ===== RIGHT CONTENT ===== */
.life-content {
  padding-top: 100px;
}

.life-tag {
  color: #3D53A3;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  font-style: bold;
}

.life-content h2 {
  font-size: 20px;
  color: #222;
  font-size: medium;
  font-weight: 500;
}

.life-content p {
  font-size: 14px;
  color: #666;
  line-height: 1.7;
  margin-bottom: 24px;
}

/* ===== BIG IMAGE ===== */
.life-big-img {
  border-radius: 20px;
  overflow: hidden;
}

.life-big-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* ===== DOTS ===== */
.life-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
}

.dot.active {
  background: #f57c00;
}
