.about-header {
  width: 100%;
  font-family: "Inter", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/*  WHITE BAR  */
.about-top-bar {
  height: 48px;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
}

.top-right {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #3f51b5;
}

.top-right a {
  text-decoration: none;
  color: #3f51b5;
  font-weight: 500;
}

/* BLUE BAR  */
.about-blue-bar {
  background: #3f51b5;
  padding: 22px 0 16px;
}

.about-inner {
  max-width: 1512px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 0 40px;
}

/*  LOGO  */
.about-logo {
  position: absolute;
  left: 40px;
  top: -74px; /* overlap white + blue */
  border: 2px solid white;
  border-radius: 20px;
  background-color: #ffffff;

}

.about-logo img {
  width: 164.5px;
  height: 160px;}

/* CONTENT  */
.about-content {
  margin-left: 220px; /* space for logo */
  width: 100%;
}

/* NAVIGATION */
.about-nav {
  display: flex;
  gap: 80px;
  margin-bottom: 8px;
  justify-content: flex-start;
  margin-left: 120px;

}

.about-nav a {
  color: #dfe3ff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  gap: 30px;
}

.about-nav a.active {
  color: #ffffff;
  font-weight: 700;
}

/* INFO TEXT */
.about-info {
  font-size: 15px;
  color: #ffffff;
  line-height: 1.5;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: end;
  text-decoration: overline;
}
